<ul class="form">
  <li class="form-item"><h2>Log in</h2></li>
  <form action="/sessions" method="post">
    <li class="form-item"><input class="form-text-input" type="text" name="username" placeholder="Username" /></li>
    <li class="form-item"><input class="form-text-input" type="password" name="password" placeholder="Password" /></li>
    <li class="form-item"><input class="button" type="submit" value="Log in" /></li>
  </form>
</ul>
