<form action="/tracks" method="post">
  <input type="text" name="artist" placeholder="Artist" />
  <input type="text" name="title" placeholder="Title" />
  <input type="submit" value="Add track(s)" />
</form>
