/*General items: */
body {
  font-family: arial, sans-serif;
}

h2, h3, h4 {
  font-family: impact, sans-serif;
}

a.header-link:link, a.header-link:visited {
  color: #00a3cc;
  text-decoration: none;
}

a.header-link:hover {
  color:  #00ccff;
  text-decoration: none;
}

.pagetop {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:  #e6faff;
  color: #007399;
}

.flash {
  padding-top: 20px;
  background-color:  #e6faff;
  margin: 0;
}

.page-items {
  display: inline-block;
  margin: 1em;
  width: 25%;
  vertical-align: top;
}

.button {
  background-color: #00ccff;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  color: white;
  font-family: impact, sans-serif;
  font-size: 1em;
}

.button-big {
  background-color: #00ccff;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 75px;
  color: white;
  font-family: impact, sans-serif;
  font-size: 1.2em;
}

.button-small {
  background-color: #00ccff;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  color: white;
  font-family: "arial black", sans-serif;
  font-size: auto;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 5px;
}

/*Navigation Bar*/
#navbar {
  background-color: #00ccff;
  padding-left: 2%;
  padding-right: 2%;
}
#navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav-logo-img {
  width: 100px;
}

#nav-logo-item {
  float: left;
  margin-right: 2%;
  width: 100px;
}

.nav-item {
  float: right;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: impact, sans-serif;
  text-decoration: none;
}

a.nav-item:link, a.nav-item:visited {
  color: white;
}

a.nav-item:hover {
  color: #007399;
}

/*Individual Playlist Page*/
#playlist-tracks, #playlist-contributors {
  display: inline-block;
  margin: 1em;
  width: 40%;
  vertical-align: top;
}

/*Forms*/
.form {
  list-style-type: none;
  padding-top: 40px;
}

.form-item {
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-text-input {
  width: 130px;
  height: 20px;
  font-size: 0.9em;
}

/*Homepage*/
.main-buttons {
  padding-top: 70px;
}

.main-button {
  margin-top: 15px;
  margin-bottom: 10px;
}
