My playlists:

<% n = 1
current_user.playlists.each do |playlist| %>
<%= playlist.title%>
<%= playlist.description%>
<%= playlist.tracks_per_person%>

<%
# require "pry"; binding.pry
if (playlist.tracks && current_user.tracks).count < playlist.tracks_per_person %>
<form action="/tracks/new" method="get">
  <input type='hidden' name="playlist_id"  value="<%=playlist.id%>"/>
  <input type=submit value="Add track(s)" />
</form>
<% end %>
<% end %>
