<!DOCTYPE html>
<html>
  <head>
    <title>Collective Playlist</title>
  </head>
  <body align="center">

    <link rel="stylesheet" type="text/css" href="/style.css">
    <div id="navbar">
      <ul id="navlist">
        <li class="nav-item" id="nav-logo-item"><a href="/"><img id="nav-logo-img" src="/cp_logo.png"></a></li>
        <% if current_user %>
          <li class="nav-item"><a class="nav-item" href="/playlists/new">Add playlist</a></li>
          <li class="nav-item"><a class="nav-item" href="/playlists/view">View Playlists</a></li>
          <li class="nav-item"><a class="nav-item" href="/playlists/user">Your Playlists</a></li>
          <li class="nav-item"><a class="nav-item" href="/sessions/delete">Log out</a></li>
        <% end %>

        <% unless current_user %>
          <li class="nav-item"><a class="nav-item" href="/users/new">Sign up</a></li>
          <li class="nav-item"><a class="nav-item" href="/sessions/new">Log in</a></li>
        <% end %>
      </ul>
    </div>
    <div id="flash">
      <% if flash[:notice] %>
        <h3 class="flash"><%= flash[:notice].join(" ") %></h3>
      <% end %>
      <% if flash[:error] %>
        <h3 class="flash"><%= flash[:error].join(" ") %></h3>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
