<!DOCTYPE html>
<html>
  <head>
    <title>Collective Playlist</title>
  </head>
  <body>


    <% if current_user %>
        <a href="/playlists/new">Add playlist</a>
        <a href="/playlists/view">View Playlists</a>
        <a href="/sessions/delete">Log out</a>
    <% end %>

    <% unless current_user %>
        <a href="/users/new">Sign up</a>
        <a href="/sessions/new">Log in</a>
    <% end %>

    <% if flash[:notice] %>
      <h3><%= flash[:notice].join(" ") %></h3>
    <% end %>
    <% if flash[:error] %>
      <h3><%= flash[:error].join(" ") %></h3>
    <% end %>
    <%= yield %>
  </body>
</html>
