<!DOCTYPE html>
<html>
  <head>
    <title>Collective Playlist</title>
  </head>
  <body>

<% if current_user %>
    <a href="/sessions/delete">Log out</a>
<% end %>

      <% if flash[:notice] %>
      <h3><%= flash[:notice].join(" ") %></h3>
      <% end %>
      <% if flash[:error] %>
      <h3><%= flash[:error].join(" ") %></h3>
      <% end %>
      <div>
    <%= yield %>
  </body>
</html>
